*,
*::before,
*::after {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
}

canvas {
    margin: 15px 0;
}

@media only screen and (max-width: 500px) {
    canvas {
        margin: 0;
    }
}
